{% extends "base.html" %}


{% load static i18n %}

{% block css %}

{% endblock %}

{% block seo %}


<title>Fifty Five Hotel</title>

<meta name="description" content="" />

<meta name="keywords" content="" />

<link rel="canonical" href=""/>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

<meta name="robots" content="index,follow"/>

<meta name="googlebot" content="index,follow"/>

<meta name="author" content="İhsan Gürol Demirtaş">

<meta name="publisher" content="2020.01" />

{% endblock %}




{% block content %}

<div class="section big-55-height over-hide z-bigger">

		<div class="parallax parallax-top" style="background-image: url({% static 'mar.jpeg' %})"></div>
		<div class="dark-over-pages"></div>

		<div class="hero-center-section pages">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-12 parallax-fade-top">
						<div class="hero-text">{% trans 'Galeri' %}</div>
					</div>
				</div>
			</div>
		</div>
	</div>


<div class="section padding-top-bottom over-hide">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8 align-self-center">
					<div class="subtitle with-line text-center mb-4">{% trans 'Galeri' %}</div>
					<h3 class="text-center padding-bottom-small">{% trans 'Otel Resimlerimiz' %}</h3>
				</div>
				<div class="section clearfix"></div>
				{% for x in product %}
				<div class="col-md-4">
					<a href="{% if x.image %}{{ x.image.url }}{% else %}{% endif %}" data-fancybox="gallery">
						<div class="img-wrap gallery-small">
							<img src="{% if x.image %}{{ x.image.url }}{% else %}{% endif %}" alt="">
						</div>
					</a>
					<br>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>

{% endblock %}




{% block jss %}
{% endblock %}